{% extends 'backBase.html.twig' %}

{% block title %}Hello Admin!{% endblock %}

{% block body %}

    <div class="main-panel">
        <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title"> <h1> <p style="color:purple;">   Blogs  </p> </h1></h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="btn btn-success" href="{{ asset('/admin/blogs/new') }}">+ Add a blog</a></li>
                    </ol>
                </nav>
            </div>
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped ">
                                <thead>
                                <tr>
                                    <th> Title </th>
                                    <th> Content </th>
                                  
                                </tr>
                                </thead>
                                <tbody>
                                {% for blog in blogs %}
                                    <tr onclick="">
                                       
                                        <th> {{ blog.id }} </th>
                                        <td> {{ blog.title }} </td>
                                       
                                        <td> <a class="" href="{{ path('admin_blogs_new',{'id': blog.id}) }}">
                                                <i class="mdi mdi-pencil"></i>
                                            </a></td>

                                        <td> <a class="" href="{{ path('admin_blogs_delete',{'id':blog.id})}}">
                                                <i class="mdi mdi-delete-forever"></i>
                                            </a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
