{% extends 'frontBase.html.twig' %}

{% block title %}- Info{% endblock %}

{% block body %}

    <!-- Page top section -->
    <section class="page-top-section set-bg" data-setbg="{{ asset('front/img/page-top-bg/4.jpg') }}">
        <div class="page-info">
            <h2>Info</h2>
            <div class="site-breadcrumb">
                <a href="">Home</a>  /
                <span>Info</span>
            </div>
        </div>
    </section>
    <!-- Page top end-->


    <!-- Contact page -->
    <section class="contact-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 order-2 order-lg-1">
                    <form class="contact-form">
                        <input type="text" placeholder="Your name">
                        <input type="text" placeholder="Your e-mail">
                        <input type="text" placeholder="Subject">
                        <textarea placeholder="Message"></textarea>
                        <button class="site-btn">Send message<img src="{{ asset('front/img/icons/double-arrow.png') }}" alt="#"/></button>
                    </form>
                </div>
                <div class="col-lg-5 order-1 order-lg-2 contact-text text-white">
                    <h3>Howdy! Say hello</h3>
                    <p>We are the Infernal Games team are always happy to hear you feed backs!</p>
                    <div class="cont-info">
                        <div class="ci-icon"><img src="{{ asset('front/img/icons/location.png') }}" alt=""></div>
                        <div class="ci-text">Ariana, Tunis, Tunisia</div>
                    </div>
                    <div class="cont-info">
                        <div class="ci-icon"><img src="{{ asset('front/img/icons/phone.png') }}" alt=""></div>
                        <div class="ci-text">+216 XXX XXX XX</div>
                    </div>
                    <div class="cont-info">
                        <div class="ci-icon"><img src="{{ asset('front/img/icons/mail.png') }}" alt=""></div>
                        <div class="ci-text">infernalgames2022@gmail.com</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact page end-->


{% endblock %}