{% extends 'frontBase.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <!-- Hero section -->
    <section class="hero-section overflow-hidden">
        <div class="hero-slider owl-carousel">
            <div class="hero-item set-bg d-flex align-items-center justify-content-center text-center" data-setbg="{{ asset ('front/img/slider-bg-1.jpg') }}">
                <div class="container">
                    <h2>Infernal Games</h2>
                    <p>From gamers, to gamers</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero section end-->


    <!-- Intro section -->
    <section class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="intro-text-box text-box text-white">
                        <img src="{{ asset('Products/'~product.picture) }}" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="intro-text-box text-box text-white">
                        <div class="top-meta">Our latest addition!</div>
                        <h3>{{ product.name }}</h3>
                        <p>{{ product.description }}</p>
                        <a href="{{ path('viewProduct',{'id':product.id}) }}" class="read-more">Check it out  <img src="{{ asset ('front/img/icons/double-arrow.png') }}" alt="#"/></a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Intro section end -->


    <!-- News section -->
    <section class="blog-section spad">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-8 col-md-7">
                    <div class="section-title text-white">
                        <h2>News</h2>
                    </div>
                    <!-- Blog item -->
                    {% for blog in blogs %}
                    <div class="blog-item">
                        <div class="blog-thumb">
                            <img src="{{ asset ('Blogs/'~blog.image) }}" alt="">
                        </div>
                        <div class="blog-text text-box text-white">
                            <h3>{{ blog.title }}</h3>
                            <p>{{ blog.content|slice(0, 70) }}...</p>
                            <a href="#" class="read-more">Read More  <img src="{{ asset ('front/img/icons/double-arrow.png') }}" alt="#"/></a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-xl-3 col-lg-4 col-md-5 sidebar">
                    <div id="stickySidebar">
                        {% if ads|length>0  %}
                            <div class="widget-item">
                                <div class="stickySidebar">
                                    {% set ad= random(0, ads|length-1) %}
                                    <a href="{{ asset(ads[ad].reflink) }}" target="_blank"><img src="{{ asset('Ads/'~ads[ad].image) }}" width="200px"></a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- News section end -->




    <!-- Featured section -->
    <section class="featured-section">
        <div class="featured-bg set-bg" data-setbg="{{ asset('Games/'~game.picture) }}"></div>
        <div class="featured-box">
            <div class="text-box">
                <div class="top-meta"><a href="">Games</a></div>
                <h3>{{game.name}}</h3>
                <p>Our users highest rated game!</p>
                <a href="{{ asset('/games/view/'~game.id) }}" class="read-more">Read More <img src="{{ asset('front/img/icons/double-arrow.png') }}" alt="#"/></a>
            </div>
        </div>
    </section>
    <!-- Featured section end-->




{% endblock %}


