{% extends 'frontBase.html.twig' %}
{% block body %}
    <html lang="zxx">
    <head>
        <title>Infernal Games {% block title %}{% endblock %}</title>
        <meta charset="UTF-8">



    </head>
    <body>

    <!-- Page top section -->
    <section class="page-top-section set-bg" data-setbg="{{ asset('front/img/page-top-bg/1.jpg') }}">
        <div class="page-info">
            <h2>Streams</h2>
            <div class="site-breadcrumb">
                <a href="#" onclick="">Home</a>  /
                <span>Stream</span>
            </div>
        </div>
    </section>
    <!-- Page top end-->
    <section class="games-section">
        <div class="container">
                    <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                        <div class="card col-lg-4 mx-auto">
                            <div class="card-body px-5 py-5">
                                {% for flashError in app.flashes('verify_email_error') %}
                                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                                {% endfor %}
                                <h3 class="card-title text-left mb-3">Please Fill all the form</h3>

                                {{ form_start(registrationForm, {'attr':{'novalidate':'novalidate'}}) }}
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    {{ form_widget(registrationForm.email,{'attr':{'class':'form-control', 'placeholder':'email'}}) }}
                                    <div class="text-danger">{{ form_errors(registrationForm.email) }}</div>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    {{ form_widget(registrationForm.plainPassword,{'attr':{'class':'form-control', 'placeholder':'password'}}) }}
                                    <div class="text-danger">{{ form_errors(registrationForm.plainPassword) }}</div>
                                </div>
                                <div class="form-group">
                                    <label for="">Name</label>
                                    {{ form_widget(registrationForm.name,{'attr':{'class':'form-control', 'placeholder':'name'}}) }}
                                    <div class="text-danger">{{ form_errors(registrationForm.name) }}</div>
                                </div>
                                <div class="form-group">
                                    <label for="">Last name</label>
                                    {{ form_widget(registrationForm.lastname,{'attr':{'class':'form-control', 'placeholder':'lastname'}}) }}
                                    <div class="text-danger">{{ form_errors(registrationForm.lastname) }}</div>
                                </div>
                                <div class="form-group">
                                    <label for="">Your image</label>
                                    {{ form_widget(registrationForm.imageFile,{'attr':{'class':'form-control', 'placeholder':'imageFile'}}) }}
                                    <div class="text-danger">{{ form_errors(registrationForm.imageFile) }}</div>
                                </div>
                                <div class="mb-3">
                                    If you have an account  <a href="{{ path('app_login') }}">    sign in</a>
                                </div>
                                {{ form_row(registrationForm.agreeTerms) }}
                                <button type="submit" class="file-upload-browse btn btn-primary">Register</button>
                                {{ form_end(registrationForm) }}
                            </div>
                        </div>
                        <!-- content-wrapper ends -->
                    </div>
                    <!-- row ends -->
        </div>
    </section>


    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{{ asset('vendors/js/vendor.bundle.base.js') }}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{{ asset('front/login/js/off-canvas.js') }}"></script>
    <script src="{{ asset('front/login/js/hoverable-collapse.js') }}"></script>
    <script src="{{ asset('front/login/js/misc.js') }}"></script>
    <script src="{{ asset('front/login/js/settings.js') }}"></script>
    <script src="{{ asset('front/login/js/todolist.js') }}"></script>
    <!-- endinject -->
    </body>
    </html>

{% endblock %}

