<head>
    <style>
        .video-js{
            width: 800px !important;
            height: 400px !important;
        }
    </style>
</head>

<body>
    <div class="game-single-preview">
        <video id="player" width="600px" height="300px" class="video-js vjs-default-skin" controls=false poster="{{ asset('img/infernalLogo.png') }}">
            <source
                    src="{{ asset('http://127.0.0.1:8050/hls/'~stream.accessData.streamKey~'/index.m3u8') }}"
                    type="application/x-mpegURL">
        </video>
        <button class="btn btn-success" onclick="reconnect()">Reconnect</button>
    </div>


    <link href="https://vjs.zencdn.net/7.5.5/video-js.css" rel="stylesheet" />
    <script src="{{ asset ('https://code.jquery.com/jquery-1.11.3.min.js') }}"></script>
    <script src="{{ asset('https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js') }}"></script>
    <script src="{{ asset('https://vjs.zencdn.net/7.6.6/video.js') }}"></script>
    <script>videojs.options.flash.swf = "video-js.swf";</script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var player = videojs('player');
            //player.play();
        }, false);
        function reconnect() {
            var player = videojs('player');
            player.reset();
            player.src("{{ asset('http://127.0.0.1:8050/hls/'~stream.accessData.streamKey~'/index.m3u8') }}");
        }
    </script>

</body>